@font-face {
    font-family: site-font;
    src: url(/assets/TheanoDidot-Regular.ttf)
}

#main-container {}

#header-container {
    list-style: none;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-left: 15px;
    background-color: #F0F0F0;
    vertical-align: middle;
    padding-bottom: 12px;
    border-radius: 5px;
}

#header-container > li {
    display: inline;
}

#header-container > li:not(:first-child) {
    border-left: 2px #3399FF solid;
    padding-left: 20px;
}

#header-container > li:not(:last-child) {
    margin-right: 20px;
}



body {
    margin: 0;
    padding: 0;
    background-color: #F8F6F6;

}

* {
    font-family: site-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    font-size: .5vw;
}

#body-container {
    font-size: 25px;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 37.5px;
    padding-top: 5vh;
}

/* site */

.site-title {
    font-size: 23px;
    font-weight: bold;
}

.site-title > a {
    text-decoration: none;
    color: black;
}

.site-title > a:hover {
    color: gray;
}

/* series */

#series-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

#series-source {
    text-align: center;
    font-size: 22px;
}

#series-id {
    text-align: center;
    margin-bottom: 100px;
    font-size: 20px;    
}

/* section */

.section {
    margin-bottom: 100px;
}

.section-title {
    /* text-align: center; */
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: bold;
}

.section-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 30px;
}

.section-p {
    margin-top: 0;
    margin-bottom: 20px;
}

/* Industry Index */

.index-a {
    text-decoration: none;
    color: black;
}

.index-text-hover:hover {
    color: white;
}

.index-a2z-container {
    display: grid;
    line-height: 100px;
    background-color: #F0F0F0;
    padding: 25px;
    font-size: 35px;
    margin-top: 50px;
}

.index-a2z-container > ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 100px));
    padding: 0;
}

.index-a2z-container > ul > li {
    display: inline;
    text-align: center;
}

.index-a2z-container > ul > li:hover {
    background-color: #A9A9A9;
}

.index-a2z-contents {
    display: grid;
    background-color: #F0F0F0;
    margin-top: 50px;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 5vw;
}

.index-a2z-contents > div {
    display:grid;
    grid-template-columns: minmax(50px, 200px) minmax(200px, 1fr);
}

.index-a2z-contents > div > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.index-a2z-contents > div > ul > li {
    margin-left: auto;
    margin-right: auto;
    border-left: 4px #BEBEBE solid;
    padding-left: 16px;
    margin-bottom: 2vh;
}

.index-a2z-contents > div > ul > li:hover {
    background-color: #A9A9A9;    
    border-left: 8px black solid;
}

.index-cta {
    text-align: center;
}

/* Landing Page Index */

.landing-page-article {
    padding-left: 15.5vw;
    padding-right: 15.5vw;
}

@media screen and (max-width: 1500px) {
    .landing-page-article {
        padding-left: 10.5vw;
        padding-right: 10.5vw;
    }
}

@media screen and (max-width: 1000px) {
    .landing-page-article {
        padding: 0;
    }
}

@media screen and (max-width: 900px) {
    #header-container {
        text-align: center;
    }
    #body-container {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 800px) {
    #body-container {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 700px) {
    #header-container > li {
        display: block;
    }
    #header-container > li {
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    #body-container {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.landing-page-article-title {
    font-size: 40px;
}

.landing-page-article-author {
    font-size: 20px;
}

.landing-page-article-author-img {
    width: 64px;
    height: 64px;
}

.landing-page-article-content {
    font-size: 21px;
    line-height: 30.54px;
}

.landing-page-article-meta {
    margin-top: 2vh;
    margin-bottom: 4vh;
    display: grid;
    grid-template-columns: 64px 150px;
    column-gap: 15px;
}

.landing-page-article-greeting {
    font-size: 28px;
}

.landing-page-product-1 {
    font-size: 27px;
    color: black;
}

.landing-page-product-1:hover {
    color: gray;
}

.landing-page-img {
    width: 100%;
}

.landing-page-about-header {
    font-size: 26px;
}