@font-face {
    font-family: site-font;
    src: url(/assets/TheanoDidot-Regular.ttf)
}

body {
    font-family: site-font;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

#body-container {
    font-size: 25px;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 37.5px;
}

/* site */

#site-title {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-left: 15px;
}

/* series */

#series-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

#series-source {
    text-align: center;
    font-size: 22px;
}

#series-id {
    text-align: center;
    margin-bottom: 100px;
    font-size: 20px;    
}

/* section */

.section {
    margin-bottom: 100px;
}

.section-title {
    /* text-align: center; */
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: bold;
}

.section-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 30px;
}

.section-p {
    margin-top: 0;
    margin-bottom: 20px;
}